@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  background-color: #FFFFFF;
}

.page-header {
  font-weight: 700;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 350px;
  list-style-type: none;
  align-items: center;
}

.navigation-list:first-child {
  padding-left: 55px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: inline-block;
  padding: 19px 17px 20px 16px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  position: relative;
  border-radius: 10px;
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  color: #756257;
}

.navigation-link:active {
  opacity: 0.3;
  color: #756257;
}

.logo {
  display: block;
  margin: 0 auto;
}

.navigation-user {
  max-width: 400px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  width: 18px;
  height: 18px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: #756257;
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popover-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7DB550;
  border: none;
  font-size: 10px;
  color: #FFFFFF;
  padding: 0;
  cursor: pointer;
  margin: 5px 5px 0 0;
}

.popover-favorites {
  width: 400px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: absolute;
  top: 62px;
  left: -200px;
  z-index: 1;
  box-sizing: border-box;
}

.popover-top {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 215px;
  top: -10px;
  background-image: url("../img/icons/popover-top.svg");
  background-repeat: no-repeat;
}

.popover-open {
  display: block;
}

.favorites-items-list {
  list-style-type: none;
  padding: 0;
}

.favorites-item {
  display: grid;
  grid-template-columns: 1fr 36px;
  margin: 25px;
}

.favorites-item-link {
  display: flex;
  text-decoration: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.favorites-item-link:hover {
  opacity: 0.6;
}

.favorites-item-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.favorites-item-link:active {
  opacity: 0.3;
}

.favorites-item-image {
  margin: 0 17px 0 0;
}

.favorites-item-title {
  font-size: 18px;
  color: #000000;
  margin: 0;
}

.favorites-item-type {
  font-size: 16px;
  color: #333333;
}

.favorites-item-button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: block;
  border: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-sizing: border-box;
}

.favorites-item-delete {
  fill: #000000;
  opacity: 0.3;
}

.favorites-item-button:hover .favorites-item-delete {
  opacity: 1;
}

.favorites-item-button:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.favorites-item-button:focus-visible .favorites-item-delete {
  opacity: 1;
}

.favorites-item-button:active .favorites-item-delete {
  opacity: 0.1;
}

.button-favorites {
  width: 400px;
  margin: 0;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  padding: 20px 0;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  background-color: #615048;
}

.button:active {
  border: none;
  background-color: #615048;
  color:rgba(255, 255, 255, 0.3);
}

.button-header {
  padding: 9px 0 10px 0;
  text-align: center;
  border-radius: 4px;
  width: 160px;
}

.intro {
  display: block;
  margin: 0 auto 63px;
}

.intro-text {
  text-align: center;
  line-height: 36px;
  margin-bottom: 79px;
}

.intro-text-introduction {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto 23px;
}

.intro-text-reasons {
  font-size: 22px;
  margin: 0 auto;
  color: #333333;
}

.advantages {
  text-align: center;
  margin-bottom: 91px;
  width: 1200px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-white {
  grid-column: 1 / -1;
  display: flex;
  color: #FFFFFF;
  background: #83B3D3;
}

.advantages-item-container {
  display: block;
  margin: 0 auto;
}

.advantages-title {
  display: block;
  margin: 23px auto 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
}

.advantages-title-number {
  margin-top: 98px;
  margin-bottom: 25px;
}

.advantages-item-container .advantages-description {
  color: #FFFFFF;
  width: 220px;
}

.advantages-description {
  margin: 0 auto 79px;
  width: 250px;
  color: #333333;
}

.advantages-description-number {
  margin-bottom: 26px;
}

.advantages-item-no-number {
  margin-top: 89px;
}

.advantages-item-food {
  background: #FFFFFF;
}

.advantages-item:nth-child(5) .advantages-title {
  width: 180px;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.search {
  text-align: center;
  margin-bottom: 91px;
}

.search-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.search-dates {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 580px;
  margin: 0 auto 73px;
}

.button-main {
  padding: 13px 0 17px;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.subscribe {
  background-size: 1200px 411px;
  background-image: url("../img/subscribe-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
  width: 1200px;
}

.subscribe-title {
  margin: 94px auto 15px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  width: 500px;
  margin: 0 auto 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.subscribe-email {
  margin: 0;
}

.field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field {
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  line-height: 26px;
  padding-left: 22px;
  background-color: #F2F2F2;
  border: none;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.field:active {
  background-color: #FFFFFF;
  border: none;
}

.field:active::-webkit-input-placeholder {
  color: #000000;
}

.field:active::-moz-placeholder {
  color: #000000;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
  background: #83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  height: 62px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.subscribe-button:hover {
  background: #68A2CA;
}

.subscribe-button:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: -3px;
}

.subscribe-button:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  margin-left: 62px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.social-link {
  display: inline-block;
  padding: 20px 20px;
  position: relative;
  border-radius: 10px;
}

.social-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: #68A2CA;
}

.social-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.social-link:active .social-link-icon {
  fill: #68A2CA;
  opacity: 0.3;
}

.contacts-address {
  display: block;
  font-style: normal;
  text-align: center;
}

.contacts-phone {
  position: relative;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus-visible {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.contacts-phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-developer {
  display: block;
  margin: 23px 49px 0 30px;
}

.htmlacademy-link {
  display: inline-block;
  padding: 19px 23px;
  border-radius: 10px;
}

.htmlacademy-link-logo {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.htmlacademy-link:hover .htmlacademy-link-logo,
.htmlacademy-link:focus .htmlacademy-link-logo {
  fill: #756257;
}

.htmlacademy-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.htmlacademy-link:active .htmlacademy-link-logo {
  color: #756257;
  opacity: 0.3;
}

.logo:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-container-close {
  display: none;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../img/icons/close.svg");
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.3;
}

.modal-title {
  margin: 0 0 32px 2px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form-dates {
  display: grid;
  grid-template-columns: 155px 1fr;

}

.search-form-dates .field-group {
  margin: 0 0 40px;
}

.search-form-field {
  width: 382px;
  padding: 0 19px;
  background: #F2F2F2;
  border-radius: 4px;
  }

.field-text {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  display: block;
}

.button-search {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  width: 575px;
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.field-group {
  position: relative;
}

.search-form-field::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.6;
  font-weight: 700;
}

.search-form-field::-moz-placeholder {
  color: #000000;
  opacity: 0.6;
  font-weight: 700;
}

.search-form-field:active {
  outline: 2px solid #000000;
  outline-offset: -2px;
  border: none;
}

.search-form-field:active::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form-field:active::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.calendar-icon {
  position: absolute;
  top: 18px;
  right: 19px;
  opacity: 0.3;
}

.search-form-people {
  display: grid;
  grid-template-columns: 288px 230px;
  gap: 56px;
}

.adults {
  display: grid;
  grid-template-columns: 1fr 133px;
}

.search-form .field-group-adults {
  margin: 0 0 40px;
}

.field-group-adults {
  position: relative;
}

.search-number-of-adults {
  width: 133px;
  height: 50px;
  border-radius: 4px;
  background: #F2F2F2;
  border: none;
  color: #000000;
  text-align: center;
  appearance: textfield;
  padding: 0;
}

.search-number-of-adults::-webkit-outer-spin-button,
.search-number-of-adults::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.search-minus-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 13px;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.search-minus-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#000000;
  opacity: 0.3;
}

.search-minus-button:hover .search-minus-button-icon,
.search-minus-button:focus-visible .search-minus-button-icon {
  opacity: 1;
}

.search-minus-button:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.search-minus-button:active .search-minus-button-icon {
  opacity: 0.2;
}

.search-plus-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 13px 13px 13px 95px;
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.search-plus-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#000000;
  opacity: 0.3;
}

.search-plus-button:hover .search-plus-button-icon,
.search-plus-button:focus-visible .search-plus-button-icon {
  opacity: 1;
}

.search-plus-button:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.search-plus-button:active .search-plus-button-icon {
  opacity: 0.2;
}

.children {
  display: grid;
  grid-template-columns: 1fr 133px;
  position: relative;
}

.children-information {
  position: absolute;
  top: 14px;
  left: 54px;
  padding: 12.5px;
  border-radius: 50%;
  border: none;
  background-color: #83B3D3;
  cursor: pointer;
  background-image: url("../img/icons/info.svg");
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.children-information .children-information-close {
  position: absolute;
  top: 14px;
  left: 54px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #68A2CA;
  cursor: pointer;
}

.search-form .field-group-children {
  margin: 0 0 40px;
}

.popover-info {
  width: 256px;
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 54px;
  right: 35px;
}

.popover-info-top {
  position: absolute;
  top: -9px;
  right: 0;
  bottom: 0;
  left: 118px;
  background-image: url("../img/icons/popover-info-top.svg");
  background-repeat: no-repeat;
}

.popover-info-content {
  padding: 15px 18px 18px 22px;
}

.field-group-children {
  position: relative;
}

.search-number-of-children {
  width: 133px;
  height: 50px;
  border-radius: 4px;
  background: #F2F2F2;
  border: none;
  color: #000000;
  text-align: center;
  appearance: textfield;
  padding: 0;
}

.search-number-of-children::-webkit-outer-spin-button,
.search-number-of-children::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-hotels {
  background-size: 1200px 408px;
  background-image: url("../img/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.catalog-hotels-container {
  width: 1056px;
  margin: 0 auto;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-home-link {
  display: inline-block;
  position: relative;
  padding: 13px 14px 14px;
  outline: none;
  border-radius: 4px;
}

.breadcrumbs-home-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FFFFFF;
}

.breadcrumbs-link {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  position: relative;
  border-radius: 4px;
  padding: 3px 8px;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-home-link:hover .breadcrumbs-home-icon,
.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-home-link:focus-visible,
.breadcrumbs-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.breadcrumbs-home-link:active .breadcrumbs-home-icon,
.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-nav-link {
  display: inline-block;
  position: relative;
  padding: 0 5px;
  opacity: 0.3;
}

.breadcrumbs-nav-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FFFFFF;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 67px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.control {
  position: relative;
  display: inline-block;
  padding-left: 39px;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url("../img/catalog/icons/checkbox.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 10px;
  top: 5px;
  left: 4px;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #FFFFFF;
  content: "";
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control .control-input:focus + .control-mark {
	outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.control:active .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
  margin-right: -2px;
  position: relative;
}

.range-input {
  width: 145px;
  height: 48px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
  background-color: transparent;
  color: #FFFFFF;
  font: inherit;
  padding-left: 17px;
  appearance: textfield;
}

.range-input[name="max-price"] {
  border-radius: 0px 4px 4px 0px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-text {
  position: absolute;
  top: 12px;
  right: 0;
  bottom: 0;
  left: 112px;
  margin: auto;
  color: rgba(255, 255, 255, 0.3);
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input:focus-visible {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2,
              0px 0px 0px 3px #81B3D2 inset;
  outline: none;
}

.range-input:active {
  background: #756257;
  box-shadow: none;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  width: 287px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-get {
  font-size: 16px;
  line-height: 21px;
  background: #83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button-get:hover {
  background: #68A2CA;
}

.button-get:focus-visible {
  background: #68A2CA;
  outline: 3px solid #FFFFFF;
  outline-offset: -3px;
}

.button-get:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.button-clear {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  width: 160px;
  height: 48px;
  border-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button-clear:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-clear:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.button-clear:active {
  color: rgba(255, 255, 255, 0.3);
}

.sorting {
  display: flex;
  width: 1056px;
  margin: 44px auto 42px;
  height: 48px;
}

.sorting-title {
  align-self: center;
  text-transform: uppercase;
  width: 337px;
  margin-right: auto;
}

.select-card {
  display: flex;
  position: relative;
  align-items: center;
}

.select-control {
  width: 287px;
  margin-right: 81px;
  padding: 12px 19px;
  font: inherit;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/catalog/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.select-control:active {
  outline: 2px solid #E6E6E6;
  outline-offset: -2px;
}

.sorting-card:hover,
.sorting-card:focus-visible {
  border: 2px solid #83B3D3;
}

.sorting-card:active {
  border: 2px solid #000000;
}

.sorting-card {
  display: inline-block;
  position: relative;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px 24px;
  margin-right: 8px;
  outline: none;
}

.sorting-card:last-child {
  margin-right: 0;
}

.sorting-card:hover,
.sorting-card:focus-visible {
  border: 2px solid #83B3D3;
}

.sorting-card:active {
  border: 2px solid #000000;
}

.sorting-card-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.hotels {
  width: 1056px;
  margin: 0 auto;
}

.hotels-list {
  padding: 0;
  list-style-type: none;
}

.hotels-card {
  display: grid;
  grid-template-columns: 180px 1fr 160px;
  padding: 31px 0 30px;
}

.hotels-card-link {
  width: 180px;
  height: 120px;
}


.hotels-card-link:hover {
  opacity: 0.6;
}

.hotels-card-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.hotels-card-link:active {
  opacity: 0.3;
}

.hotels-card-container {
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hotels-card-name {
  position: absolute;
  left: -16px;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 16px;
}

.hotels-card-name:hover {
  color: #756257;
}

.hotels-card-name:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.hotels-card-name:active {
  color: rgba(117, 98, 87, 0.3);
}

.hotels-card-title {
  margin: 0;
}

.hotels-card-value {
  position: absolute;
  top: 50px;
  display: grid;
  grid-template-columns: 151px 160px;
  gap: 8px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotels-card-value-name {
  grid-column: 1 / 2;
  margin-bottom: 31px;
}

.hotels-card-value-price {
  grid-column: 2 / 3;
}

.hotels-card-more {
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding: 9px 0 10px;
}

.hotels-card-favorites {
  grid-column: 2 / 3;
  border-radius: 4px;
  background: #83B3D3;
}

.hotels-card-favorites:hover {
  background: #68A2CA;
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.hotels-card-favorites:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: -3px;
}

.hotels-card-favorites:active {
  background: #68A2CA;
  outline: 1px solid #756257;
  outline-offset: -1px;
  color: rgba(255, 255, 255, 0.3)
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  border-radius: 4px;
}

.stars-1 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg");
  background-repeat: no-repeat;
}

.stars-2 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg");
  background-position: 0 0,
                       25px 0;
  background-repeat: no-repeat;
}

.stars-3 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg");
  background-position: 0 0,
                       25px 0,
                       50px 0;
  background-repeat: no-repeat;
}

.stars-4 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg");
  background-position: 0 0,
                       25px 0,
                       50px 0,
                       75px 0;
  background-repeat: no-repeat;
}

.stars-5 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg");
  background-position: 0 0,
                       25px 0,
                       50px 0,
                       75px 0,
                       100px 0;
  background-repeat: no-repeat;
}

.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  background: #83B3D3;
  border-radius: 4px;
  width: 625px;
  height: 55px;
  display: block;
  margin: 31px auto 0;
  border: none;
  cursor: pointer;
}

.pagination-show-more:hover {
  background: #68A2CA;
}

.pagination-show-more:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: -3px;
}

.pagination-show-more:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3)
}

.pagination-select-container {
  margin-top: 61px;
  display: flex;
  align-items: center;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-item {
  width: 55px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  background: #83B3D3;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: -3px;
}

.pagination-link:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3)
}

.pagination-link-current {
  color: #000000;
  background: #F2F2F2;
}

.quantity-filter {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-left: auto;
  position: relative;
}

.quantity-filter-select {
  width: 160px;
  height: 48px;
  margin-left: 51px;
  padding-left: 17px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/catalog/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.quantity-filter-select:hover,
.quantity-filter-select:focus {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.quantity-filter-select:active {
  outline: 2px solid #E6E6E6;
  outline-offset: -2px;
}

.subscribe-catalog {
  color: #000000;
  background-image: none;
}

.subscribe-text-catalog {
  color: #333333;
}
