@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  background-color: #FFFFFF;
}

.page-header {
  font-weight: 700;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 350px;
  list-style-type: none;
  outline: 5px solid green;
  outline-offset: -5px;
  align-items: center;
}

.navigation-list:first-child {
  padding-left: 55px;
}

.navigation-link {
  display: block;
  padding: 19px 17px 20px 16px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.logo {
  display: block;
  margin: 0 auto;
}

.navigation-user {
  max-width: 400px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  width: 18px;
  height: 18px;
}

.navigation-link-search {
  background-size: 18px 18px;
  background-image: url("../img/icons/navigation-search.svg");
  background-repeat: no-repeat;
  outline: 5px solid green;
  outline-offset: -5px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link-favorites {
  background-size: 18px 17px;
  background-image: url("../img/icons/navigation-favorites.svg");
  background-repeat: no-repeat;
  outline: 5px solid green;
  outline-offset: -5px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  background: #756257;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
}

.button-header {
  display: block;
  padding: 9px 0 10px 0;
  text-align: center;
  border-radius: 4px;
  width: 160px;
  outline: 5px solid green;
  outline-offset: -5px;
}

.intro {
  display: block;
  margin: 0 auto 63px;
}

.intro-text {
  text-align: center;
  line-height: 36px;
  margin-bottom: 79px;
}

.intro-text-introduction {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto 23px;
}

.intro-text-reasons {
  font-size: 22px;
  margin: 0 auto;
  color: #333333;
}

.advantages {
  text-align: center;
  margin-bottom: 91px;
  width: 1200px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: 5px solid red;
  outline-offset: -5px;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-white {
  outline: 5px solid yellow;
  outline-offset: -5px;
  grid-column: 1 / -1;
  display: flex;
  color: #FFFFFF;
  background: #83B3D3;
}

.advantages-item-container {
  display: block;
  margin: 0 auto;
}

.advantages-title {
  display: block;
  margin: 23px auto 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
  outline: 5px solid red;
  outline-offset: -5px;
}

.advantages-title-number {
  margin-top: 98px;
  margin-bottom: 25px;
}

.advantages-item-container .advantages-description {
  color: #FFFFFF;
  outline: 5px solid brown;
  outline-offset: -5px;
}

.advantages-description {
  margin: 0 auto 79px;
  width: 250px;
  color: #333333;
  outline: 5px solid yellow;
  outline-offset: -5px;
}

.advantages-description-number {
  margin-bottom: 26px;
}

.advantages-item-no-number {
  margin-top: 89px;
  outline: 5px solid green;
  outline-offset: -5px;
}

.advantages-item-food {
  background: #FFFFFF;
}

.advantages-item:nth-child(5) .advantages-title {
  width: 180px;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.search {
  text-align: center;
  margin-bottom: 91px;
  outline: 5px solid green;
  outline-offset: -5px;
}

.search-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.search-dates {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 580px;
  margin: 0 auto 73px;
  outline: 5px solid green;
  outline-offset: -5px;
}

.button-main {
  display: block;
  padding-top: 13px;
  width: 575px;
  height: 60px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  outline: 5px solid green;
  outline-offset: -5px;
}

.subscribe {
  background-size: 1200px 411px;
  background-image: url("../img/subscribe-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
  width: 1200px;
}

.subscribe-title {
  margin: 94px auto 15px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  width: 500px;
  margin: 0 auto 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.subscribe-email {
  margin: 0;
}

.field {
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
  background: #83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  height: 60px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 90px;
  padding: 0;
  width: 150px;
  outline: 5px solid green;
  outline-offset: -5px;
}

.footer-social-item {
  display: block;
  outline: 5px solid green;
  outline-offset: -5px;
  margin-top: 50px;
  margin-right: 30px;
  width: 18px;
}


.footer-social-item:last-child {
  margin-right: 0;
}

.social-button {
  background-repeat: no-repeat;
}

.social-button-twitter {
  background-size: 18px 15px;
  background-image: url("../img/icons/social-twitter.svg");
}

.social-button-facebook {
  background-size: 10px 18px;
  background-image: url("../img/icons/social-facebook.svg");
}

.social-button-youtube {
  background-size: 20px 16px;
  background-image: url("../img/icons/social-youtube.svg");
}

.contacts-address {
  display: block;
  width: 720px;
  font-style: normal;
  text-align: center;
}

.contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  padding: 40px 0 30px 0;
  outline: 5px solid green;
  outline-offset: -5px;
}

.footer-developer {
  display: block;
  outline: 5px solid green;
  outline-offset: -5px;
  margin-left: auto;
  padding-right: 72px;

}

.htmlacademy-link {
  display: block;
  background-size: 115px 34px;
  background-image: url("../img/icons/htmlacademy-logo.svg");
  background-repeat: no-repeat;
  margin-top: 42px;
  width: 115px;
  height: 34px;
  outline: 5px solid green;
  outline-offset: -5px;
}

.catalog-hotels {
  background-size: 1200px 408px;
  background-image: url("../img/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  outline: 5px solid green;
  outline-offset: -5px;
}

.catalog-hotels-container {
  width: 1056px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
  outline: 5px solid green;
  outline-offset: -5px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 26px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  list-style-type: none;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.button-get {
  font-size: 16px;
  line-height: 21px;
  background: #83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  width: 160px;
  height: 48px;
}

.button-clear {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  width: 160px;
  height: 48px;
  border-color: rgba(255, 255, 255, 0);
}

.sorting {
  display: flex;
  width: 1056px;
  margin: 44px auto 42px;
  outline: 5px solid gray;
  outline-offset: -5px;
  height: 48px;
  justify-content: space-between;
}

.sorting-title {
  align-self: center;
  text-transform: uppercase;
  width: 337px;
}

.select-control {
  width: 287px;
  margin-right: 81px;
}

.button-tile {
  background-size: 48px 48px;
  background-image: url("../img/catalog/icons/sorting-button-tile.svg");
  background-repeat: no-repeat;
  width: 48px;
  margin-right: 8px;
}

.button-one {
  background-size: 48px 48px;
  background-image: url("../img/catalog/icons/sorting-button-one.svg");
  background-repeat: no-repeat;
  width: 48px;
  margin-right: 8px;
}

.button-list {
  background-size: 48px 48px;
  background-image: url("../img/catalog/icons/sorting-button-list.svg");
  background-repeat: no-repeat;
  width: 48px;
}

.hotels {
  width: 1056px;
  margin: 0 auto;
}

.hotels-list {
  padding: 0;
  list-style-type: none;
}

.hotels-card {
  display: grid;
  grid-template-columns: 180px 36px 151px 8px 160px 361px 160px;
  grid-template-rows: 28px 31px 23px 31px 37px;
  outline: 5px solid red;
  outline-offset: -5px;
  width: 1056px;
  height: 181px;
}

.hotels-card-link {
  grid-row: 2 / -1;
}

.hotels-card-name {
  grid-column: 3 / 6;
  grid-row: 2;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}

.hotels-card-title {
  margin: 0;
}

.hotels-card-value-name {
  grid-column: 3 / 4;
  grid-row: 3;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotels-card-value-price {
  grid-column: 5 / 6;
  grid-row: 3;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotels-card-more {
  grid-column: 3 / 4;
  grid-row: 5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotels-card-favorites {
  grid-column: 5 / 6;
  grid-row: 5;
  border-radius: 4px;
  background: #83B3D3;
  border-color: #83B3D3;
}

.stars {
  grid-column: 7 / -1;
  grid-row: 2;
  outline: 5px solid red;
  outline-offset: -5px;
}

.rating {
  grid-column: 7 / -1;
  grid-row: 5;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  border-radius: 4px;
}

.stars-1 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg");
  background-repeat: no-repeat;
}

.stars-2 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg");
  background-position: 0 0,
                       25px 0;
  background-repeat: no-repeat;
}

.stars-3 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg");
  background-position: 0 0,
                       25px 0,
                       50px 0;
  background-repeat: no-repeat;
}

.stars-4 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg");
  background-position: 0 0,
                       25px 0,
                       50px 0,
                       75px 0;
  background-repeat: no-repeat;
}

.stars-5 {
  padding: 10px;
  background-size: 18px 17px;
  background-image: url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg"),
                    url("../img/catalog/icons/star-rating-1.svg");
  background-position: 0 0,
                       25px 0,
                       50px 0,
                       75px 0,
                       100px 0;
  background-repeat: no-repeat;
}

.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  background: #83B3D3;
  border-color: #83B3D3;
  border-radius: 4px;
  width: 625px;
  height: 55px;
  display: block;
  margin: 31px auto 0;
}

.pagination-select-container {
  display: flex;
  margin-top: 61px;
  outline: 5px solid black;
  outline-offset: -5px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-item {
  width: 55px;
  background: #83B3D3;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-current {
  background: #F2F2F2;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 15px;
}

.pagination-link-current {
  color: #000000;
}

.quantity-filter {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 386px;
  outline: 5px solid orange;
  outline-offset: -5px;
  margin-left: auto;
}

.subscribe-catalog {
  color: #000000;
  background-image: none;
}

.subscribe-text-catalog {
  color: #333333;
}
